/*
/*/
!/CSSE332*Notes/
!/2022-2023*Sophomore/

!/2022-2023*Sophomore/Fall*Quarter/
/2022-2023*Sophomore/Fall*Quarter/ECE204-05/
/2022-2023*Sophomore/Fall*Quarter/ECE233-04*Intro*To*Digital/
/2022-2023*Sophomore/Fall*Quarter/MDS150/
/2022-2023*Sophomore/Fall*Quarter/Specific*TODO's/

!/2022-2023*Sophomore/Spring*Quarter/
/2022-2023*Sophomore/Spring*Quarter/CSSE490-04*NLP/

!/2022-2023*Sophomore/Winter*Quarter/
/2022-2023*Sophomore/Winter*Quarter/CSSE280-01/
/2022-2023*Sophomore/Winter*Quarter/ECE230-03*Embedded/
/2022-2023*Sophomore/Winter*Quarter/RH330-01/
/2022-2023*Sophomore/Winter*Quarter/Specific*To-Dos/
/2022-2023*Sophomore/Winter*Quarter/Minor*Consideration.md


!/2022-2023*Sophomore/Fall*Quarter/MA276*Intro*To*Proofs/
!/2022-2023*Sophomore/Winter*Quarter/MA374-01/
!/2022-2023*Sophomore/Winter*Quarter/ECE205-04_Circuits_and_Systems/
!/2022-2023*Sophomore/Spring*Quarter/MA367*Complex*Analysis/

!/PastedImages/
!netlify.toml
!.gitignore
!Notes*Home.md
